.personal-lavka .add-advert {
    position: relative;
    top: 0;
    border: 2px solid #2e3034;
    color: #1c1d20;
    margin-bottom: 10px;
    padding: 9px 9px 7px;
}

.personal-lavka .message-save {
    color: #be6841;
    float: left;
    margin-top: 10px;
    padding-left: 20px;
}