.adm-btn-save{
    background-color: #86ad00!important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
    box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
    border: solid 1px;
    width: 338px;
    border-color: #97c004 #7ea502 #648900;
    background-image: -webkit-linear-gradient(bottom, #729e00, #97ba00)!important;
    background-image: -moz-linear-gradient(bottom, #729e00, #97ba00)!important;
    background-image: -ms-linear-gradient(bottom, #729e00, #97ba00)!important;
    background-image: -o-linear-gradient(bottom, #729e00, #97ba00)!important;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
    padding: 0px 13px 2px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 29px;
}

.sms_input {
    font-size: 13px !important;
    height: 30px !important;
    width: 338px !important;
    padding: 0 5px !important;
    margin: 0 !important;
    background: #fff !important;
    border: 1px solid !important;
    border-color: #87919c #959ea9 #9ea7b1 #959ea9 !important;
    border-radius: 4px !important;
    color: #000 !important;
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7) !important;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7) !important;
    display: inline-block !important;
    outline: none !important;
    vertical-align: middle !important;
    -webkit-font-smoothing: antialiased !important;
}
.password_sms{
    padding: 20px;
}

.th_form{
    padding: 0px 25px 25px 20px;
}
.div_template{
    margin: 100px;
    background-color: #DCDCDC;
    width: 380px;
    margin: 40px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.error{
    color:red;
    padding: 0px 20px 0px;
}

.message{
    color:green;
    padding: 0px 20px 0px;
}

.tHide{
    display: none;
}


.passwordRequest {
    text-align: right;
}
.passwordRequest a {
    text-decoration: none;
    font-size: 12px;
    color: #0066df;
    cursor: pointer;
}